node_modules/
dist/
.env
.env.*
.env.*
# *.json <- ERROR: this ignores package.json!
# Explicitly ignore sensitive keys instead:
service-account-key.json
google-credentials.json
GOOGLE_SERVICE_ACCOUNT_KEY_BASE64
GOOGLE_SERVICE_ACCOUNT_KEY_BASE64
*.log
.DS_Store
.vscode/
npm-debug.log*
*.tsbuildinfo
server.log
celadon-rose-sale-fd10faaa81b8.json
